<!-- templates/todos.tmpl -->
<html>
  <head>
    <meta charset='utf-8'>
    <title>Todo App</title>
  </head>
  <body>
    <h1>Todo List...</h1>
    <ul>
      {{range .}}
      <div>
        <form action="/todos/" method="DELETE">
          <input type="checkbox" id="todo" name="name" value="done"/>
          <label for="todo">{{.Name}}</label>
          <input type="submit" value="done"/>
        </form>
      </div>
      {{end}}
    </ul>
  </body>
</html>
